.detailsWrapper {
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px
}

.questionHeaders {
    grid-area: 1/1/1/1;
    justify-self: center;
    text-align: center;
}

.content {
    grid-area: 2/1/2/1;
    display: flex;
}

.showHorizontal {
    flex-direction: row;
}

.showVertical {
    flex-direction: column;
}

.answer {
    padding: 10px;
    flex: 1;
}

.correctAnswer {
    color: green;
    font-weight: bold;
}

.wrongAnswer {
    color: red;
    font-weight: lighter;
}