.answersHeader{
    font-weight: bold;
    text-align: center;
    font-size: large;
    margin-top: 5%;
}

.answerOptions {
    margin-left: 10px;
}
.answerOptions .checkBox{
   float: right;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.inputBlock span {
    color: grey;
    margin-left: 5px;
}
