.dataGrid {
    height: calc(100vh - 250px);
    width: calc(100vw - 100px);
    margin-top: 1%;
    text-align: center;
    align-content: center;
}

.questionTagsTitle {
    line-height: 2;
}

.title p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 15px;
}

.tags {
    font-weight: lighter;
    font-size: 10px;
}