.dataGrid {
    height: calc(100vh - 200px);
    width: calc(100vw - 100px);
    margin: auto;
    margin-top: 3%;
}

.questionTagsTitle {
    line-height: 2;
}

.title {
    font-weight: bold;
    font-size: 15px;
}

.tags {
    font-weight:lighter;
    font-size: 10px;
}