.questionContainer {
    /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    grid-area: 2/2/2/3;
    justify-self: center;
    /* ----- */
    align-self: flex-start;
    /* ||||| */
    border: 2px solid #353535;
    border-radius: 20px;
    border-width: 3px;
    background-color: rgba(93, 84, 84, 0.115);
    padding: 25px;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: auto auto;
}


.english {
    justify-self: flex-start;
    text-align: start;
}

.hebrew {
    justify-self: flex-end;
    text-align: end;

}



.selected {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 50%;
}