body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons {
  margin: auto;
}

.buttons>.childBtn {
  margin-top: 15px;
  margin-left: 50px;
}
.addBtn{
  float: right;
  margin-left: 60px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}