body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons {
  margin-top: 2%;
  text-align: center;
}

.buttons>.childBtn {
  margin-top: 15px;
  margin-left: 50px;
}

.addBtn {
  float: right;
  margin-left: 60px;
}

.managementHeader {
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  font-size: 30px;
  font-family: sans-serif;
}

.formContainer {
  width: calc(100vw - 300px);
  height: fit-content;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(203, 204, 199, 0.258);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBlock {
  padding: 20px;
  width: 70%;
}


.inputBlock span {
  color: grey;
  margin-left: 5px;
  margin-bottom: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ck-editor__editable {
  min-height: 100px;
  min-width: 90%;
  max-width: calc(100vw - 500px);
  max-height: 300px;
  width: 100%;
}
.css-okt5j6-MuiDataGrid-columnHeaders{
  background-color: whitesmoke;
}