body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons {
  margin: auto;
}

.buttons>.childBtn {
  margin-top: 15px;
  margin-left: 50px;
}

.addBtn {
  float: right;
  margin-left: 60px;
}

.managementHeader {
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  font-size: 30px;
  font-family:sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}